
@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<h1>My Podcasts</h1>
<div class="text-center">
    <a asp-controller="Home" asp-action="Bacon" rel="noopener noreferrer" target="_blank">
        BaconSale
    </a>
</div>
