
@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h3 class="display-3">The Joel Hilton Film Collection</h3>
    <img src="/assets/img/JoelHiltonHeadshot.jpg" alt="Joel Hilton">
    <h5>navigate using the menu above</h5>
</div>
